.container {
    display: flex;
    justify-content: space-between;
}

.container .categories {
    width: 30%;
    text-align: center;
    margin: 2em 0;
}

.articles {
    width: 70%;
}

.articles h2 {
    text-align: center;
}

mat-card-title {
    cursor: pointer;
}

img {
    width: 100%;
    cursor: pointer;
}

mat-card {
    margin: 2em 0;
}