.container {
    display: flex;
    gap: 20px;
}

.container .categories {
    width: 30%;
    text-align: center;
    margin: 2em 0;
}

.articles {
    width: 70%;
}

.articles h2 {
    text-align: center;
}

mat-card-title {
    cursor: pointer;
}

img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

mat-card {
    margin: 2em 0;
}

.container mat-card img {
    margin-bottom: inherit;
}

.img-content {
    display: flex;
    gap: 10px;
}