<nav class="navbar">
    <ul class="left">
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <a routerLink="/post">Posts</a>
        </li>
        <li *ngIf="user.isAuthenticated()">
            <a routerLink="/post/add">Create post</a>
        </li>
    </ul>
    <ul class="right">
        <ul *ngIf="!user.data">
            <li>
                <a routerLink="/user/login">Login</a>
            </li>
            <li>
                <a routerLink="/user/register">Register</a>
            </li>
        </ul>
        <ul *ngIf="user.data">
            <li>
                <a routerLink="">Hello, {{ user.data.fullname }}</a>
            </li>
            <li>
                <a routerLink="" (click)="logout()">Logout</a>
            </li>
        </ul>
    </ul>
</nav>
<router-outlet name="navbar"></router-outlet>