mat-card {
    width: 70%;
    margin: 20px;
}

img {
    width: 100%;
}

mat-card-content {
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.tags {
    display: flex;
    align-items: center;
    padding: 0;
}

.tags li {
    list-style: none;
    padding: 6px 20px;
    margin: 0 10px;
    background-color: #ccc;
    border-radius: 20px;
}