<h2>Create new post</h2>
<div class="post">
  <form [formGroup]="form" (ngSubmit)="add()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <editor formControlName="content" [init]="{
      height: 400,
      menubar: true,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
      ],
      toolbar:
        'undo redo | formatselect | bold italic backcolor | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | removeformat'
    }"></editor>
    <div class="btns">
      <label for="upload" class="upload">Image Upload</label>
      <input type="file" (change)="onFileSelected($event)"
        onchange="document.getElementById('upload-span').textContent = this.files[0].name + ' selected'"
        autocomplete="off" class="upload" id="upload" hidden />
      <span id="upload-span"></span>
      <button type="submit" [disabled]="!form.valid" mat-button color="primary">Create post</button>
    </div>
  </form>
</div>