.post {
    width: 70%;
    margin: 0 auto;
}

mat-form-field {
    width: 70%;
}

mat-form-field:nth-child(2) {
    width: 30%;
}

mat-form-field:nth-child(3) {
    width: 100%;
}

h2 {
    text-align: center;
}

label.upload {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.post > button {
    margin: 20px 0;
}

.post div {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.post div img {
    width: 100%;
}

.post div button {
    color: #fff;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
}