.post {
    width: 70%;
    margin: 0 auto;
}

mat-form-field {
    width: 70%;
}

mat-form-field:nth-child(2) {
    width: 30%;
}

h2 {
    text-align: center;
}

label.upload {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.btns {
    display: flex;
    justify-content: space-between;
}