<h2>Create new post</h2>
<div class="post">
  <form [formGroup]="form" (ngSubmit)="add()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" value="{{category._id}}">{{ category.title }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Tags</mat-label>
      <mat-chip-list #tagList aria-label="Tag selection">
        <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New tag..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
          [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div>
      <button *ngIf="imageSrc" (click)="removeSrc()">
        <mat-icon>delete</mat-icon>
      </button>
      <label for="upload" class="upload" *ngIf="!imageSrc">Image Upload</label>
      <input type="file" (change)="onFileSelected($event)" autocomplete="off" class="upload" id="upload" hidden />
      <img [src]="imageSrc" *ngIf="imageSrc">
    </div>

    <editor formControlName="content" [init]="{
      height: 400,
      toolbar:
        'undo redo | formatselect | bold italic backcolor
        bullist numlist outdent indent | removeformat'
    }"></editor>
      <button type="submit" [disabled]="!form.valid" mat-button color="primary">Create post</button>
  </form>
</div>